.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 50px;
        color: var(--color-secondary);
    }

    .presentation-links {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 20px;
        .link-button {
            border: 2px solid var(--color-secondary);
            padding: 10px 30px;
            border-radius: 25px;
            background-color: #262626;
            transition: 1s;
        }

        .link-button:hover {
            background: #3a3a3a;
            transition: 1s;
        }
    }
}