<section class="section-container">
  <div class="presentation">
    <h1>Fontao Alejo</h1>
    <h2>Software Developer</h2>
    <div class="presentation-links">
      <a class="link-button" href="https://github.com/AleFontao" target="_blank">GitHub</a>
      <a class="link-button" href="https://www.linkedin.com/in/alejo-fontao/" target="_blank">Linkedin</a>
      <a class="link-button"
        href="https://drive.google.com/drive/folders/1sDjIQMP76ifiSIE4u2S-xp4ZifEAVR1z?usp=drive_link"
        target="_blank">CV</a>
    </div>
  </div>
</section>