.section-container--secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-body {
        width: 1000px;
        margin: 50px 0;

        .section-title {
            width: 100%;
            text-align: left;
        }

        .container-projects {

            display: flex;
            flex-direction: column;

            .project {
                margin-top: 50px;
            }
        }
    }
}

@media(max-width: 1000px) {
    .container-project {
        width: 80%;

    }

    .section-body {
        width: 80% !important;
    }
}