<div class="card-certification card-wrapper">
  <div class="card-certification-header">
    <ng-icon name="{{certificate.icon}}"></ng-icon>
    <div class="card-certification-header-info">
      <h4>{{certificate.titleCertification}}</h4>
      <p>{{certificate.date}}</p>
    </div>

  </div>
  <!--<div class="card-description">
      <h5 class="description"><a href="{{certificate.linkCertification}}">{{certificate.linkCertification}}</a></h5>
    </div>-->
  <div class="card-description" *ngIf="certificate.linkCertification.length > 0"> 
    <a class="link-button" href="{{certificate.linkCertification}}" target="_blank" rel="noreferrer noopener">
      Ver certificado
    </a>
  </div>
</div>