<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-title">
      <p>Fontao Alejo</p>
    </div>
    <ul class="navbar-elements">
      <li><button (click)="onClickScroll('projects')">
          <p>Proyectos</p>
        </button></li>
      <li><button (click)="onClickScroll('certificates')">
          <p>Certificados</p>
        </button></li>
      <li><button (click)="onClickScroll('aboutMe')">
          <p>Sobre mi</p>
        </button></li>
    </ul>
  </div>
</nav>