nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;

    transition: 0.5s;
    z-index: 5;
    .navbar-container {
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

        .navbar-elements {
            display: flex;
            flex-direction: row;
            padding: 8px 0;
            gap: 25px;

            button {
                p{
                  color: var(--color-secondary); 
                  transition: 0.5s;  
                }
                
                cursor:pointer;
                background: transparent;
                border: 0;
                padding: 0;
            }

            button:hover {
                p{
                  color: var(--color-primary); 
                  transition: 0.5s; 
                }
                
                
            }
        }
    }
}

.navbar-scrolled{
    backdrop-filter: blur(101px);
    background: #26262682;
    transition: 1s;
}


