:root {
    --color-background: #31363F;
    --color-element: #222831;
    --color-secondary: #76ABAE;
    --color-primary: #EEEEEE;
    --color-terciary: #b4b4b4;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-background);

    * {
        font-family: "Red Hat Display", sans-serif;
        color: var(--color-primary);
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    h1,
    h2 {
        margin: 0;
    }
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.section-container--secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-element);
}

.link-button {
    border: 2px solid var(--color-secondary);
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #262626;
    transition: 1s;
}

.link-button:hover {
    background: #3a3a3a;
    transition: 1s;
}


h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.40rem;
}

h3.subtitle {
    padding-left: 15px;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.20rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    span {
        font-size: 1rem;
    }

    a {
        font-size: 0.9rem;
    }

    small {
        font-size: 0.75rem;
    }
}
