:root {
    --color-background: #31363F;
    --color-element: #222831;
    --color-secondary: #76ABAE;
    --color-primary: #EEEEEE;
    --color-terciary: #b4b4b4;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-background);

    * {
        font-family: "Red Hat Display", sans-serif;
        color: var(--color-primary);
    }

    a{
        text-decoration: none;
    }

    li{
        list-style-type: none;
    }

    h1, h2{
        margin: 0;
    }
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.section-container--secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-element);
}

.link-button {
    border: 2px solid var(--color-secondary);
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #262626;
    transition: 1s;
}

.link-button:hover {
    background: #3a3a3a;
    transition: 1s;
}