<section class="section-container--secondary" id="aboutMe">
  <div class="section-body">
    <div>
      <div class="section-body-title">
        <h2>Sobre mi</h2>
      </div>
      <div class="section-body-aboutme">
        <div class="section-body-aboutme-img">
          <img src="../../assets/profile.png" alt="border">
          <img src="../../assets/borderProfileImg.png" id="border" alt="profile">

        </div>
        <p>Actualmente me encuentro por empezar a cursar el quinto año de Ingeniería en sistemas de información y cuento
          con
          más de dos años de valiosa experiencia como desarrollador. Constantemente estoy incorporando nuevas
          tecnologías
          con el objetivo de crecer como profesional y ampliar mis conocimientos en el mundo IT.</p>
      </div>
    </div>
    <div class="section-body-study">
      <app-certification-card [certificate]="certificate"></app-certification-card>
    </div>
  </div>

</section>